<?xml version="1.0"?>

<config>
    <modules>
        <Ccc_Banner>
            <version>1.0.0.4</version>
        </Ccc_Banner>
    </modules>

    <adminhtml>
        <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <resources>
            <banner_setup>
                <setup>
                    <module>Ccc_Banner</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner_setup>
        </resources>
        <models>
            <banner>
                <class>Ccc_Banner_Model</class>
                <resourceModel>banner_resource</resourceModel>
            </banner>
            <banner_resource>
                <class>Ccc_Banner_Model_Resource</class>
                <entities>
                    <banner>
                        <table>banner</table>
                    </banner>
                </entities>
            </banner_resource>
        </models>
        <helpers>
            <banner>
                <class>Ccc_Banner_Helper</class>
            </banner>
        </helpers>
        <blocks>
            <banner>
                <class>Ccc_Banner_Block</class>
            </banner>
        </blocks>
        <events>
            <admin_system_config_changed_section_banner>
                <observers>
                    <banner_config_observer>
                        <type>singleton</type>
                        <class>banner/observer</class>
                        <method>bannerUpdated</method>
                    </banner_config_observer>
                </observers>
            </admin_system_config_changed_section_banner>

            <admin_system_config_changed_section_advanced>
                <observers>
                    <banner_config_observer>
                        <type>singleton</type>
                        <class>banner/observer</class>
                        <method>advancedUpdated</method>
                    </banner_config_observer>
                </observers>
            </admin_system_config_changed_section_advanced>
            <sales_order_place_after>
                <observers>
                    <ccc_banner_order_observer>
                        <type>singleton</type>
                        <class>banner/observer</class>
                        <method>dispatchCustomEvent</method>
                    </ccc_banner_order_observer>
                </observers>
            </sales_order_place_after>
            <custom_order_event>
                <observers>
                    <ccc_banner_custom_event_observer>
                        <type>singleton</type>
                        <class>banner/observer</class>
                        <method>handleCustomEvent</method>
                    </ccc_banner_custom_event_observer>
                </observers>
            </custom_order_event>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <banner before="Mage_Adminhtml">Ccc_Banner_Adminhtml</banner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <banner>
                <use>standard</use>
                <args>
                    <modules>
                        <banner>Ccc_Banner</banner>
                    </modules>
                </args>
                <frontName>banner</frontName>
            </banner>
        </routers>
    </frontend>

</config> 