<?xml version="1.0"?>

<config>
    <modules>
        <Ccc_VendorInventory>
            <version>1.0.0.6</version>
        </Ccc_VendorInventory>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <vendorinventory>
                    <file>vendorinventory.xml</file>
                </vendorinventory>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <vendorinventory>
                    <file>vendorinventory.xml</file>
                </vendorinventory>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <vendorinventory>
                <class>Ccc_VendorInventory_Helper</class>
            </vendorinventory>
        </helpers>
        <resources>
            <vendorinventory_setup>
                <setup>
                    <module>Ccc_VendorInventory</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </vendorinventory_setup>
        </resources>
        <models>
            <vendorinventory>
                <class>Ccc_VendorInventory_Model</class>
                <resourceModel>vendorinventory_resource</resourceModel>
            </vendorinventory>
            <vendorinventory_resource>
                <class>Ccc_VendorInventory_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>inventory_brand_configuration</table>
                    </configuration>
                    <configuration_column>
                        <table>inventory_column_configuration</table>
                    </configuration_column>
                    <items>
                        <table>inventory_items</table>
                    </items>
                </entities>
            </vendorinventory_resource>
        </models>
        <blocks>
            <vendorinventory>
                <class>Ccc_VendorInventory_Block</class>
            </vendorinventory>
        </blocks>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vendorinventory before="Mage_Adminhtml">Ccc_VendorInventory_Adminhtml</vendorinventory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    
    <crontab>
        <jobs>
            <read_csv>
                <run>
                    <model>vendorinventory/observer::readCsv</model>
                </run>
            </read_csv>
            <apply_rule>
                <run>
                    <model>vendorinventory/observer::applyRule</model>
                </run>
            </apply_rule>
        </jobs>
    </crontab>
</config>