<?xml version="1.0"?>

<config>
    <modules>
        <Ccc_Repricer>
            <version>1.7.0.3</version>
        </Ccc_Repricer>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <repricer>
                    <file>repricer.xml</file>
                </repricer>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Repricer before="Mage_Adminhtml">Ccc_Repricer_Adminhtml</Ccc_Repricer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <repricer>
                <class>Ccc_Repricer_Helper</class>
            </repricer>
        </helpers>
        <blocks>
            <repricer>
                <class>Ccc_Repricer_Block</class>
            </repricer>
        </blocks>
        <models>
            <repricer>
                <class>Ccc_Repricer_Model</class>
                <resourceModel>repricer_resource</resourceModel>
            </repricer>
            <repricer_resource>
                <class>Ccc_Repricer_Model_Resource</class>
                <entities>
                    <competitor>
                        <table>ccc_repricer_competitor</table>
                    </competitor>
                    <matching>
                        <table>ccc_repricer_matching</table>
                    </matching>
                </entities>
            </repricer_resource>
        </models>
        <resources>
            <repricer_setup>
                <setup>
                    <module>Ccc_Repricer</module>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </repricer_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <save_new_data>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>repricer/observer::saveNewData</model>
                </run>
            </save_new_data>
            <import_csv>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>repricer/observer::importCsv</model>
                </run>
            </import_csv>
            <export_csv>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>repricer/observer::exportCsv</model>
                </run>
            </export_csv>
        </jobs>
    </crontab>
</config>